@model BLTC.Web.ViewModels.Manufacturers.ManufacturersAddInputModel

<div>
    <form enctype="multipart/form-data" class="mx-auto w-50" method="post">
        <h1 class="text-center mt-2">Add Manufacturer</h1>
        <hr class="bg-primary w-75">
        <div asp-validation-summary="All" class="text-warning"> </div>
        <div class="form-group">
            <div class="text-dark d-flex justify-content-center">
                <label asp-for="Country" class="h3 mb-2">Country of origin:</label>
            </div>
            <input asp-for="Country" class="form-control" />
            <span class="text-danger" asp-validation-for="Country"></span>
        </div>
        <div class="form-group">
            <div class="text-dark d-flex justify-content-center">
                <label asp-for="IsoCode" class="h3 mb-2">ISO Code:</label>
            </div>
            <input asp-for="IsoCode" class="form-control" />
            <span class="text-danger" asp-validation-for="IsoCode"></span>
        </div>
        <div class="form-group">
            <div class="text-dark d-flex justify-content-center">
                <label asp-for="Name" class="h3 mb-2">Refinery name:</label>
            </div>
            <input asp-for="Name" class="form-control" />
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <div class="text-dark d-flex justify-content-center">
                <label asp-for="Overview" class="h3 mb-2">Overview:</label>
            </div>
            <textarea asp-for="Overview" class="form-control" cols="50" rows="5" placeholder="Write the manufacturer's overview here..." required></textarea>
            <span class="text-danger" asp-validation-for="Overview"></span>
        </div>
        <div class="form-group">
            <div class="text-dark d-flex justify-content-center">
                <label asp-for="Files" class="h3 mb-2">Select Images:</label>
            </div>
            <div class="custom-file">
                <input asp-for="Files" class="form-control custom-file-input" />
                <label class="custom-file-label">Choose File...</label>
            </div>
            <span class="text-danger" asp-validation-for="Files"></span>
        </div>
        <div class="image-area mt-4">
            <output class="form-group" id="list"></output>
        </div>
        <div id="btns-container" class="d-flex justify-content-center">
            <button id="addBtn" type="submit" class="btn btn-block btn-primary text-white mb-3">Add</button>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/addimagestoitem.js" async asp-append-version="true"></script>
    <script src="~/js/adduploadedimagesasfiles.js" async asp-append-version="true"></script>
}
