@model BLTC.Web.ViewModels.Items.ItemAddInputModel

@{
    var user = this.User.Identity.Name;
}

<div>
    <div asp-validation-summary="All" class="text-warning"> </div>
    <input asp-for="Username" type="hidden" value="@user" />
    <div class="form-group">
        <div class="text-dark d-flex justify-content-center">
            <label asp-for="Name" class="h3 mb-2">Name:</label>
        </div>
        <input asp-for="Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <div class="text-dark d-flex justify-content-center">
            <label asp-for="Type" class="h3 mb-2">Select type:</label>
        </div>
        <vc:item-types></vc:item-types>
        <span class="text-danger" asp-validation-for="Type"></span>
    </div>
    <div class="form-group">
        <div class="text-dark d-flex justify-content-center">
            <label asp-for="Shape" class="h3 mb-2">Select shape:</label>
        </div>
        <vc:item-shapes></vc:item-shapes>
        <span class="text-danger" asp-validation-for="Shape"></span>
    </div>
    <div class="form-group">
        <div class="text-dark d-flex justify-content-center">
            <label asp-for="Weight" class="h3 mb-2">Weight (grams):</label>
        </div>
        <input asp-for="Weight" type="number" min="1" class="form-control" />
        <span class="text-danger" asp-validation-for="Weight"></span>
    </div>
    <div class="form-group">
        <div class="text-dark d-flex justify-content-center">
            <label asp-for="Purity" id="puritylabel" class="h3 mb-2"></label>
        </div>
        <input asp-for="Purity" type="number" min="0" class="form-control" />
        <span class="text-danger" asp-validation-for="Purity"></span>
    </div>
    <div class="form-group">
        <div class="text-dark d-flex justify-content-center">
            <label asp-for="Fineness" class="h3 mb-2">Fineness (carats):</label>
        </div>
        <vc:carats></vc:carats>
        <span class="text-danger" asp-validation-for="Fineness"></span>
    </div>
    <div class="form-group">
        <div class="text-dark d-flex justify-content-center">
            <label asp-for="Quantity" class="h3 mb-2">Quantity:</label>
        </div>
        <input asp-for="Quantity" type="number" class="form-control" />
        <span class="text-danger" asp-validation-for="Quantity"></span>
    </div>
    <div class="form-group">
        <div class="text-dark d-flex justify-content-center">
            <label asp-for="Dimensions" class="h3 mb-2">Dimensions:</label>
        </div>
        <input asp-for="Dimensions" type="text" class="form-control" />
        <span class="text-danger" asp-validation-for="Dimensions"></span>
    </div>
    <div class="form-group">
        <div class="text-dark d-flex justify-content-center">
            <label asp-for="Description" class="h3 mb-2">Description:</label>
        </div>
        <textarea asp-for="Description" class="form-control" cols="63" rows="6" placeholder="Write the item's description here..." required></textarea>
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <div class="text-dark d-flex justify-content-center">
            <label asp-for="ManufacturerId" class="h3 mb-2">Select manufacturer:</label>
        </div>
        <vc:manufacturers></vc:manufacturers>
    </div>
    <div class="form-group">
        <div class="text-dark d-flex justify-content-center">
            <label asp-for="Files" class="h3 mb-2">Select Images:</label>
        </div>
        <div class="custom-file">
            <input asp-for="Files" class="form-control custom-file-input" multiple />
            <label class="custom-file-label">Choose File...</label>
        </div>
        <span class="text-danger" asp-validation-for="Files"></span>
    </div>
</div>
