@{
    this.ViewData["Title"] = "All Items";
}

<div>
    <header>
        <h1 class="text-center mt-2">All Items</h1>
        <hr class="bg-primary w-75">
    </header>
    <partial name="_ItemCardPartial" />
</div>

@section Scripts {
    <script src="~/js/itemavailabilitycontrol.js" asp-append-version="true" async></script>
    <script src="~/js/imagesmagnifier.js" asp-append-version="true" async></script>
}
