@model BLTC.Web.ViewModels.Items.ItemDetailsViewModel
@using BLTC.Common;

@{ 
    var isAdmin = this.User.IsInRole(GlobalConstants.AdministratorRoleName);
    var isAvailable = this.Model.Quantity >= 1 ? "In Stock" : "Out Of Stock";
}

<div>
    <header>
        <h1 class="text-center mt-2">@this.Model.Name</h1>
        <hr class="bg-primary w-75">
        <link href="~/css/itemsdetailspage.css" rel="stylesheet" asp-append-version="true" />
    </header>
    <div id="outOfStockAlert" class="alert alert-danger" role="alert"></div>
    <div class="row mt-2 mb-4">
        <partial name="_ItemDetailsPartial" />
    </div>
</div>

@section Scripts {
    <script src="~/js/buybtncontrol.js" asp-append-version="true" async></script>
    <script src="~/js/imagesmagnifier.js" asp-append-version="true" async></script>
}
