@model BLTC.Web.ViewModels.Items.ItemEditInputModel

@{
    var user = this.User.Identity.Name;
}

<div>
    <header>
        <h1 class="text-center mt-2">Add an item</h1>
        <hr class="bg-primary w-75">
    </header>
    <form enctype="multipart/form-data" class="mx-auto w-50" method="post">
        <partial name="_ItemInputPartial" />
        <partial name="_ItemEditPartial" />
    </form>
</div>

@section Scripts {
    <script src="~/js/addimagestoitem.js" asp-append-version="true" async></script>
    <script src="~/js/adduploadedimagesasfiles.js" asp-append-version="true" async></script>
    <script src="~/js/selectedmenuvalues.js" asp-append-version="true" async></script>
    <script>function deleteImage() { var a = Array.from(document.getElementById("list").children).indexOf(event.target.parentNode); document.querySelector("#list").removeChild(document.querySelectorAll("#list span")[a]); var b = document.getElementById("Files"), c = b.nextElementSibling, d = Array.from(b.files); d.splice(a, 1), b.files = new function (a) { for (var c = new ClipboardEvent("").clipboardData || new DataTransfer, b = 0, d = a.length; b < d; b++)c.items.add(a[b]); return c.files }(d), c.innerHTML = 1 < b.files.length ? b.files.length + " selected files" : 1 == b.files.length ? b.files[0].name : "Choose File..." }</script>
}