@model BLTC.Web.ViewModels.Items.ItemsAllListViewModel<BLTC.Web.ViewModels.Items.ItemsAllViewModel>

@using BLTC.Common

@{
    this.ViewData["Title"] = "Items pending approval";
}

<div>
    <header>
        <h1 class="text-center mt-2">Items pending approval</h1>
        <hr class="bg-primary w-75">
    </header>
    <partial name="_ItemCardPartial" />
</div>

@section Scripts {
    <script src="~/js/imagesmagnifier.js" asp-append-version="true" async></script>
}
