@model ErrorViewModel
@{
    this.ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h3 class="text-danger">@this.Model.ErrorMessage</h3>

@if (this.Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@this.Model.RequestId</code>
    </p>
}

<a class="btn btn-primary" asp-controller="Messages" asp-action="ContactUs">Click here to contact with our maintenance team!</a>
<a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Click here to navigate to the home page!</a>
